.button{
    font-size: 0.9em;  padding-top: 0.35rem  
}
.titles{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head{
    font-family:'Times New Roman', Times, serif;
}
.t3{
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.des{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button{

		padding: 1em;
		background: hsl(233deg 36% 38%);
        size: 100em;
		color: hsl(0 0 100);
		border: none;
        
		border-radius: 30px;
		font-weight: 600;
	
}
